body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex: 1 auto;
}

#canvas {
    flex-direction: column;
    box-sizing: border-box;
    width: 1000px;
    height: 1000px;
    justify-content: center;
    align-items: center;
}

.pixel {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: solid pink 1px;
    gap: 0px;
    flex: 1 0 auto;
}

.row {
    display: flex;
    gap: 0;
}
